<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js""></script>
        <link rel="stylesheet" type="text/css" href="{% static 'connect_four/css/base.css' %}"/>
    </head>

    <body>

        <div class="body-content">
            {% block content %}
            {% endblock %}
            <hr/>

            <p>{{print}}</p>

            <button class="btn btn-green btn-sm" onclick="request_access(this)" id="7"><i class="fa fa-plus"></i> Join Group</button>
            <footer>
                <p>&copy; 2018</p>
            </footer>
        </div>


        {% load static %}
        <script src="{% static 'connect_four/js/base.js' %}"></script>

        <script>
            // https://stackoverflow.com/questions/31878960/calling-django-view-from-ajax
            function request_access($this){
                console.log("button clicked");
                var request_data = $this.id;
                console.log("data: " + request_data);
                $.ajax({
                    url: "test/",
                    data : { request_data: request_data},
                    success : function(json) {
                        $("#request-access").hide();
                        console.log("requested access complete");
                    }
                })
            }
        </script>

    </body>
</html>