<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Puissance 4</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'connect_four/css/style.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js""></script>
    </head>
    <body>
        <div class="flex-box-jeu">
            <div id="left-container">
                <div id="boutonDiv">
                    <input class="neon_btn" id="boutonInit" type="submit" value="Initialiser le jeu">
                </div>
                <div id="boutonDiv">
                    <a class="neon_btn" href="{% url 'reglement' %}" id="boutonRegles">Règlements & Stratégies</a>
                </div>
                <div class="message">> bienvenue au jeu</div>
            </div>
            <div id="right-container">
                <table id="topBoard"></table>
                <table id="board"></table>
            </div>
        </div>

        {% load static %}
        <script type="text/javascript" src="{% static 'connect_four/js/script.js' %}"></script>    
    </body>
</html>