@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* 
Source: https://stackoverflow.com/questions/2662039/keep-background-image-fixed-during-scroll-using-css
Utilisation: fixing le fait que le background repeat quand on scroll
User: Chris Walter

*/

body {
    background-image: url("https://images4.alphacoders.com/114/1145990.jpg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}



.board {
    background: none;
    filter: drop-shadow(0 0 15px #006b8d) drop-shadow(0 0 50px #006b8d) contrast(2) brightness(2);
    opacity: 0.9;
    width: 40%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid #006b8d;
    border-radius: 5%;
    margin-top: 20px;
}

.topBoard {
    width: 40%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 0px;
}

.rangeBoard {
    width: 100%;
    height: 100px;
}

.cercle {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid #05566e;
    opacity: 1;
}

.red {
    width: 70px;
    height: 70px;
    background-color: red;
    border-radius: 50%;
    margin: 10px; 
    border: 2px solid #05566e;
    opacity: 1;                                           
}

.yellow {
    width: 70px;
    height: 70px;
    background-color: #ffe811;
    border-radius: 50%;
    margin: 10px;
    border: 2px solid #05566e;
    opacity: 1;
}


.neon_btn {
    color: #db3eb1;
    border: 6px solid #db3eb1;
    border-radius:15px;
    padding: 5px 15px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    letter-spacing:3px;
    cursor: pointer;
    font-weight: bold;
    filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
    background-color: rgb(0, 107, 141, .5);
    margin-bottom: 30px;
    margin-top: 15%;
    margin-left: 15px;
}

.neon_btn:hover {
    background-color: #db3eb1;
    color: black;
}

.message {
    color: #4AF626;
    border: 6px solid #db3eb1;
    border-radius:15px;
    padding: 5px 15px;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    letter-spacing:3px;
    font-weight: bold;
    filter: drop-shadow(0 0 15px #db3eb1) drop-shadow(0 0 50px #db3eb1) contrast(2) brightness(2);
    background-color: black;
    margin-bottom: 30px;
    margin-top: 40%;
    height: 100px;
    margin-left: 20px;
    width: 350px;
}

a {
    text-decoration: none;
}


.reglement {
    background-color: #006b8d;
    filter: drop-shadow(0 0 15px #006b8d) drop-shadow(0 0 50px #006b8d) contrast(2) brightness(2);
    opacity: 0.9;
    width: 40%;
    min-height: 60%;
    border: 4px solid #006b8d;
    border-radius: 10%;
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: justify;
    font-family: 'Roboto Mono', monospace;
}

#eitherRefOrStrat {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    text-align: justify;
}

.information {
    white-space: pre-wrap;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
    word-break: break-all;
}

.flex-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

td {
    flex: 1;
}

#back_rules {
    visibility: hidden;
}

.flex-box-jeu {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    gap: 100px;
}

#btn-jeu-container {
    display: flex;
    flex-direction: column;
}
